@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.subheader {
    height: 144px;
    display: flex;
    align-items: center;
}

.subheader_box_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subheader_box {
    width: 212px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subheader_circle {
    height: 50px;
    width: 50px;
    background-color: rgba(0,0,0,.05);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.subheader_circle img {
    height: 18px;
    width: 18px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px ;
}

h1 span {
    color: #4e9525;
}

.subheader_search_box {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    justify-content: center;
}

.subheader_search {
    height: 50px;
    width: 285px;

    background-color: rgba(0,0,0,.05);
    border-radius: 40px;
    position: absolute;
    right: -95px;
    top: -25px;
    font-size: 14px;
    color: rgba(0,0,0,.7);
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
    margin-right: 10px;
}

.subheader_search span {
    margin-left: 20px;
}

.subheader_icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 52px;
    background-color: #4e9525;
    border-radius: 100%;
    right: -95px;
    top: -25px;
}

.subheader_icon img {
    height: 20px;
    width: 20px;
}

nav {
    height: 75px;
    width: 100%;
    background-color: #4e9525;
}

.nav_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_item {
    height: 75px;
    width: 110px;
    text-align: center;
    line-height: 75px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

.nav_item + .nav_item {
    padding-left: 10px;
}


.promo {
    height: 100vh;
    background: url('../image/promo.jpg');
    background-attachment: fixed;
}

.welcome {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fbd341;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 220px;
}

.promo h2 {
    width: 500px;
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    font-weight: 510;
    font-family: "Poppins", sans-serif;
}

.work {
    font-size: 18px;
    line-height: 1.5;
    color: rgba(255,255,255,.7);
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    margin-top: 10px;
}

.promo button {
    width: 160px;
    height: 45px;
    background-color: #4e9525;
    border: 1px solid #4e9525;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}

.services {
    background-color: white;
}

.services .container {
    height: 575px;
    display: flex;
    align-items: center;
}

.cards_container {
    margin-left: 45px;
    height: 345px;
    width: 840px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

.card {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.circle_card {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: rgba(0,0,0,.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

.circle_card img {
    height: 45px;
    width: 45px;
}

.card h3 {
    margin-top: 10px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
}

.card h4 {
    width: 200px;
    margin-top: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    color: grey;
    text-align: center;
    padding: 0 15px;
    
}

.service_text_container {
    height: 370px;
    width: 255px;
    margin-left: 23px;
    margin-bottom: 100px;
}

.service_text_container h3 {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #4e9525;
    font-weight: 600; 
}

.service_text_container h2 {
    margin-top: 7px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600; 
}

.service_text_container h4 {
    margin-top: 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    color: grey;
    line-height: 30px;
}

.service_text_container button {
    width: 145px;
    height: 58px;
    background-color: #4e9525;
    border: 1px solid #4e9525;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
}

.welcome_section {
    background-color: #F8F9FA;
}

.welcome_section .container {
    height: 777px;
    display: flex;
    align-items: center;
}

.welcome_image_container {
    margin-left: 45px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.welcome_img img{
    height: 777px;
    width: 540px;
}

.circle_start {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background-color: #4e9525;
    border-radius: 100%;
    right: -35px;
    top: 388px;
}

.circle_start img {
    height: 22px;
    width: 20px;
}

.welcome_text_container{
    height: 681px;
    width: 537px;
    margin-left: 60px;
}

.welcome_text_container h3 {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #4e9525;
    font-weight: 600; 
}

.welcome_text_container h2 {
    width: 400px;
    margin-top: 7px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600; 
}

.welcome_text_container h4 {
    width: 450px;
    margin-top: 24px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    color: grey;
    line-height: 30px;
}

.welcome_card_container {
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* justify-content: space-around; */
}

.welcome_card h1 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.welcome_card {
    height: 72px;
    width: 507px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}


.circle_welcome_card {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #4e9525;
    border-radius: 100%;
    right: 160px;
    margin-top: -3px;
}

.circle_welcome_card img {
    height: 17px;
    width: 15px;
}

.tips .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.tips h3 {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #4e9525;
    font-weight: 600; 
    padding-top: 30px;
}

.tips h2 {
    width: 400px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600; 
    padding-top: 5px;
}

.tips_container {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tip h1 {
    padding-top: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    color: grey;
    text-align: center;
    width: 70%;
    line-height: 30px;
}

.tip img {
    width: 90%;
}

.tip h4 {
    margin-top: 10px;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: center;
}

.tips_circles_container {
    padding-top: 20px;
    display: flex;
    justify-content: row;
    justify-content: space-between;
    width: 70px;
}

.tip_circle {
    height: 9px;
    width: 9px;
    background-color: rgba(230,	230, 230, 0);
    border-radius: 100%;
    border: 2px solid rgb(230,	230, 230, 1);
}

.grey_circle {
    background-color: rgba(230,	230, 230, 3);
}


.contact {
    height: 220px;
    background-color: #4e9525;
}

.contact .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact_text h3 {
    padding-top: 55px;
    font-size: 34px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
}

.contact_text h2 {
    padding-top: 8px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 100;
    width: 90%;
    line-height: 30px;
}

.contact_number h4 {
    padding-top: 55px;
    padding-left: 150px;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    color: #fbd341;
    font-weight: 100;
}